// Colors
$primary-color: #1c75bc ;
$secondary-color: #ed2a35;
$heading-color: #333c4e;
$body-color: #7e8890;
$primary-dark: #002b5e;
$light-gray: #dedede;
$black: #000;
$white: #ffffff;  

// Clearfix
%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
/*
Usage:
	.container-with-floated-children { @extend %clearfix;}
*/

//Visually hidden
%visuallyhidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}
/*
Usage:
	.visually-hidden {@extend %visuallyhidden;}
*/
